<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duy Thanh</title>
</head>
<body>
    <p>Thanh Duy from test</p>
</body>
</html>